<div class="container mt-3">
    <div class="card mb-3" style="max-width: 600px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/images/IMG_20191129_081356.jpg" width="150px" class="img-fluid rounded-start"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">hxrsmurf</h5>
                    <div class="row">
                        <div class="col"> posts</div>
                        <div class="col">172 followers</div>
                        <div class="col">570 following</div>
                    </div>
                    <div class="row mt-2">
                        <p class="fw-bold">Kevin Murphy</p>

                        <div class="row">
                            <div class="col">Dallas, IT, GMC AT4, Ninja 650, Gamer, INTJ</div>
                        </div>
                        <div class="row">
                            <div class="col">https://photos.hxrsmurf.info | https://kvchmurphy.com</div>
                        </div>
                        <div class="row">
                            <div class="col">Let's Make It Personal | Never Define Me</div>
                        </div>
                        <div class="row">
                            <div class="col">hxrsmurf.info</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>